<%inherit file="basepage.html"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%block name="title"></%block>
<%block name="content">
<link rel="stylesheet" type="text/css" href="${request.static_url('webblast:static/css/blast.css')}">
<link rel="stylesheet" type="text/css" href="${request.static_url('webblast:static/css/popup.css')}">
<script type="text/javascript" src="${request.static_url('webblast:static/js/general.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/tblastn.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/fileupload.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/anchorjump.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/software/d3.min.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/blastCommon.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/queryGraph.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/queryTable.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/queryDetail.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/download.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/software/jquery.dataTables.1.10.min.js')}" charset="utf-8"></script>
<script type="text/javascript" src="${request.static_url('webblast:static/js/software/jquery.bpopup.min.js')}" charset="utf-8"></script>
<center>
    <h2>Translated BLAST (tblastn) Based On NCBI Blast+ </h2>
</center>

<div class="container">
	<form id="upload_form" enctype="multipart/form-data" method="post">
		<!-- start option -->
		<fieldset>
		  <legend>Query Sequence</legend>
		    Enter sequence below in FASTA format <br><br>
		    <textarea name="sequence" id="sequence" rows="10" cols="120" autofocus="" spellcheck="false" placeholder="Paste query sequence(s) here ..."></textarea>
			</textarea>
			<BR>
			<BR>
			Or upload file
			<INPUT TYPE="file" NAME="seqfile" id='seqfile' onchange="fileSelected('seqfile',100000000);" ><br>
			<div id="warnsize" class='help hide'>Upload file too large! (>100Mb)</div>
		    <div id="ready" class='help'></div>

			Job title <input name="JOB_TITLE" id="jobtitle" size="80" value="">
		</fieldset>
		
		<fieldset>
		  <legend>DataBase</legend>
		  choose a local database:
		  <select name="DB" id='DB'>
			    % for db in dbname:
				    <option  value='${db}'>${db}</option>
				% endfor
		  </select>
		</fieldset>
		
		<fieldset>
		  <legend>General Parameters</legend>
		  Expect threshold: <input type="text" name="evalue" id="evalue" placeholder="Number" size="15" value="0.001" onkeyup="isNum(this)" />&nbsp;&nbsp;<a onclick="changeDisplay('evaluehelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a> 
		  <br>
		  <span class="help" id="evaluehelp" style="display:none">Expected number of chance matches in a random model.</span> 
		  <br> 
		  
		  Word size: 
		  <select name = "word_size" id='word_size'>
		        <option  value='6' selected='true'>6</option>
				<option  value='2'>2</option>
				<option  value='3'>3</option>
		  </select> &nbsp;&nbsp;<a onclick="changeDisplay('wordsizehelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
		  <br>
		  <span class="help" id="wordsizehelp" style="display:none">The length of the seed that initiates an alignment.</span> 
		  <br>
		  
		  Max target sequences:
		  <select name = "max_target_sequences" id="max_target_sequences" >
				<option  value='10'>10</option>
				<option  value='50'>50</option>
				<option  value='100' selected='true'>100</option>
				<option  value='250'>250</option>
				<option  value='500'>500</option>
				<option  value='1000'>1000</option>
				<option  value='5000'>5000</option>
				<option  value='10000'>10000</option>
				<option  value='20000'>20000</option>
		  </select> &nbsp;&nbsp;<a onclick="changeDisplay('maxtargetsequenceshelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
		  <br>
		  <span class="help" id="maxtargetsequenceshelp" style="display:none">Select the maximum number of aligned sequences to display.</span> 
		  <br>  
		  
		  Other options: <input type="text" name="otheroptions" id="otheroptions" placeholder="eg: -num_descriptions 100" size="25"  />&nbsp;&nbsp;<a onclick="changeDisplay('otheroptionshelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
		  <br>
		  <span class="help" id="otheroptionshelp" style="display:none">Other parameters of tblastn (eg: -num_descriptions 100).</span> 
		  <br>
		</fieldset>
		
		<fieldset>
			  <legend>Scoring Parameters</legend>  
			  Matrix: 
			  <select name="matrixName" id="matrix" >
	                <option value="PAM30">PAM30</option>
	                <option value="PAM70">PAM70</option>
	                <option value="PAM250">PAM250</option>
	                <option value="BLOSUM80">BLOSUM80</option>
	                <option value="BLOSUM62" selected="selected">BLOSUM62</option>
	                <option value="BLOSUM45">BLOSUM45</option>
	                <option value="BLOSUM50">BLOSUM50</option>
	                <option value="BLOSUM90">BLOSUM90</option>
	         </select> &nbsp;&nbsp;<a onclick="changeDisplay('matrixhelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a> 
	         <br>
	         <span class="help" id="matrixhelp" style="display:none">Assigns a score for aligning pairs of residues, and determines overall alignment score.</span> 
	         <br>
			  
			 gap open: <input type="text" name="gapopen" id="gapopen" placeholder="Number" size="15" onkeyup="isNum(this)" />&nbsp;&nbsp;<a onclick="changeDisplay('gapopenhelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
			 <br>
			 <span class="help" id="gapopenhelp" style="display:none">Cost to open a gap.</span> 
			 <br>
			  
			 gap extend: <input type="text" name="gapextend" id="gapextend" placeholder="Number" size="15" onkeyup="isNum(this)" />&nbsp;&nbsp;<a onclick="changeDisplay('gapextendhelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
			 <br>
			 <span class="help" id="gapextendhelp" style="display:none">Cost to extend a gap.</span> 
			 <br>
			 
			 Compositional adjustments:
	         <select name="compbasedstat" id="compbasedstat">
	                <option value="0">No adjustment</option>
	                <option value="1">Composition-based statistics</option>
	                <option value="2" selected="selected">Conditional compositional score matrix adjustment</option>
	                <option value="3">Universal compositional score matrix adjustment</option>                           
	         </select>&nbsp;&nbsp;<a onclick="changeDisplay('compbasedstathelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a> 
			 <br>
			 <span class="help" id="compbasedstathelp" style="display:none">Matrix adjustment method to compensate for amino acid composition of sequences.</span> 
			 <br>	  
		</fieldset>
		
		<fieldset>
		  <legend>Filter Parameters</legend>  
		  Soft masking:
		  <select name="soft_masking" id='soft_masking'>
				<option  value='True'>True</option>
				<option  value='False' selected='true'>False</option>
		  </select> &nbsp;&nbsp;<a onclick="changeDisplay('softmaskinghelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
		  <br>
		  <span class="help" id="softmaskinghelp" style="display:none">Apply filtering locations as soft masks.</span> 
		  <br>
		  
		  Lower case masking:
		  <select name = "lcasemasking" id='lcasemasking'>
				<option  value='True'>True</option>
				<option  value='False' selected='true'>False</option>
		  </select> &nbsp;&nbsp;<a onclick="changeDisplay('lcasemaskinghelp');" style="cursor:pointer;"><img src="${request.static_url('webblast:static/images/myncbihelpicon.gif')}" alt="" title="help"></a>
		  <br>
		  <span class="help" id="lcasemaskinghelp" style="display:none">Use lower case filtering in query and subject sequence(s) or not</span> 
		  <br>
		  
		  
		</fieldset>
	<input type="button" value="blast" id="runblast" class="runblast" />
	</form>
	<div id="loading" class="hide pop-up" style="width:40%;height:20%">
	    <center>
	    <div class="loadingmsg">
	        <h2 style="text-align:center;">BLAST program is running...</h2>
	    </div>
	    <img src="${request.static_url('webblast:static/images/processing.gif')}">
	    </center>
	</div>
	
	<div id="error" class="hide pop-up" style="width:60%;">
	    <div class="button b-close"><span>X</span></div>
	    <center>
	    <span>
	        <h2 style="text-align:center;">Running error!</h2>
	        <hr>
	        <span style="text-align:center;" id="Emsg"></span>
	        <hr>
	    </span>
	    </center>
	</div>

	<a name="allresult"></a>
	<div id='allresult' class="hide" name="allresult"></div>
</div>

</%block>